@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --black:          #333333;
    --darkBlue:       hsl(209, 23%, 22%);
    --veryDarkBlue:   hsl(207, 26%, 17%);
    --verLightGray:     hsl(207, 26%, 17%)
    --grayF4:         hsl(0, 0%, calc(var(--whiteLightness) - 4%));
    --lightBackground: hsl(0, 0%, 98%);
    --white:            hsl(0, 0%, 100%)
  }

body{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

*{
    color: #333333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    padding: 0;
    border: 0;
    /* background: transparent; */
    cursor: pointer;
}